h2{
    margin-bottom: 0%;
}
.predictive-container {
    margin: 60px;
    overflow: hidden;
}
.topbar { 
    top: 0;
    left: 0;
    width: 100%;   
    z-index: 2;
    background: #B8DCFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    min-width: 750px;
}
.filter{
    flex-direction: row;
    display: flex; 
    justify-content: space-between;
    width: 100%;
}
.filter-group {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-direction: row;
}

.filter-group select,
.filter-group input {
    padding: 7px 14px;
    border: none;
    border-radius: 20px;
    background: #fff;
    font-size: 15px;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background: #e9f0ff;
}
td{
    white-space: normal;  
    word-wrap: break-word; 
    max-width: 20px;
}
.table-wrapper {
    width: 100%;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    min-width: 500px;
}

.low { color: green;  }
.medium { color: goldenrod; }
.high { color: red; }
.unknown { color: gray;}
