<div class="predictive-container">
    <div class="table-wrapper">
    <div class="topbar">
    <h2 class="title">Bảng theo dõi đồng hồ</h2>
        <div class="filter">
            <div class="filter-group">
            <h4>Đồng hồ: </h4>
            <select [(ngModel)]="selectedMeterId" (change)="onMeterChange($event)">
                <option *ngFor="let meter of meters" [value]="meter._id">
                    {{ meter.meter_name }}
                </option>
                </select>

            </div>
        <div class="filter-group">
            <h4>Chọn ngày:</h4>
            <input type="date" [value]="selectedDate" (change)="onDateChange($event)" />
        </div>
            </div>
        </div>
    </div>
    <h3>Đồng hồ {{ selectedMeter?.meter_name }}</h3>
    <div class="chart-container">
        <canvas id="meterChart"></canvas>
        <div class="threshold-value" *ngIf="thresholdValue > 0">
            <span>Giá trị ngưỡng mới nhất: <b>{{ thresholdValue }}</b></span>
        </div>
    </div>
</div>

