<div class="predictive-container">
    <div class="table-wrapper">
    <div class="topbar">
    <h2 class="title">Bảng theo dõi đồng hồ</h2>
        <div class="filter">
            <div class="filter-group">
            <h4>Khu vực: </h4>
            <select>
            <!-- <option>{{ data?.area }}</option> -->
            <option>Văn Đẩu 8</option>
            </select>
            </div>
            <div class="filter-group">
                <h4>Chọn ngày:</h4>
                <input type="date" />
            </div>
        </div>
    </div>
</div>
</div>