<div class="sidebar">
  <div class="user-profile">
    <div class="avatar">
      <i class="fas fa-user"></i>
    </div>
    <h3 class="user-name">Tên người dùng</h3>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav-list">

      <li class="nav-item">
        <a 
          routerLink="/branches/predictive-model" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          <i class="fas fa-home"></i>
          <span>Dự đoán rò rỉ mô hình</span>
        </a>
      </li>

      <li class="nav-item">
        <a 
          routerLink="/branches/manual-model" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          <i class="fas fa-tools"></i>
          <span>Dự đoán rò rỉ thủ công</span>
        </a>
      </li>

      <li class="nav-item">
        <a 
          routerLink="/branches/meter-management" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          <i class="fas fa-tachometer-alt"></i>
          <span>Quản lý đồng hồ nước</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
