.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F2F9FF;
}

.main-content {
  display: flex;
  margin-top: 60px;       
  margin-bottom: 80px; 
  overflow-x: auto;        
}

app-sidebar {
  width: 250px;            
  flex-shrink: 0;          
}

.content-area {
  flex: 1;
  padding: 20px;
  background: #F2F9FF;
  overflow-x: auto;   /* scroll ngang chỉ trong content */
  min-width: 0;         
}
 
app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 80px;
}
